@value tokens: "../../style/tokens.module.css";
@value spacingSmall,spacingMedium,colorBlack from tokens;


.form__input {
  margin-top: 2rem;
  margin-left: -1rem;
  margin-right: -3rem;
  border: none;
  border-top: solid 1px #D9D9D9;
  font-size: 1.6rem;
  color: colorBlack;
  padding-left: spacingMedium;
  padding-top: spacingSmall;
  width: 33.2vw;
  padding-bottom: 5px;
  outline: none;
}
