@value tokens: "../../style/tokens.module.css";
@value fontsizeM, spacingSmall,spacingMedium from tokens;


.grid__templ {
  display: grid;
  grid-template-columns: 56rem 56rem;
  margin-left: -29rem;
  height: 50vw;
}
.form {
  composes: form from "../../style/form.module.css";
  height: 53.5rem;
  margin-top: 4rem;
}

.amount {
  font-size: fontsizeM;
  display: flex;
  justify-content: center;
  margin-top: -2.7rem;
  margin-bottom: spacingSmall;
}

.comments__padding {
  padding-left: spacingMeduim;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input {
  position: absolute;
  bottom: 38rem;
}
