@value tokens: "../../style/tokens.module.css";
@value spacingSmall,colorWhite,colorBlue from tokens;

.likes {
  margin-bottom: spacingSmall;
}

.lits {
  composes: lits from '../../style/lits.module.css';
  margin-right: 39rem;
}

button {
  background-color: white;
  border: none;
  outline: none;
}
